.mainLayout {
  background-color: #1d1b1b;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navBar {
  display: flex;
  margin: 0% auto;
}
.logoContainer {
  flex: 1 1;
  max-width: 20%;
  margin: auto;
}
.logoContainer img {
  width: 100%;
}

.navBar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex: 2;
}

.navBar ul li a {
  text-decoration: none;
  color: white;
}
